h1{
    color:mediumslateblue;
}
.header{
    background-color: aliceblue;
    display:flex;
    justify-content: space-between ;
    border:2px solid;
}
h1{
    padding-left:850px;
}
.grid{
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center ;
}
body{
    background-color: #fdefb2;
}